[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==0.71.0"
requests = "*"
bs4 = "*"
openpyxl = "*"
pandas = "*"
ipykernel = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
